<H2>ABOUT ME</H2>
<!-- <div class="star-line"></div> -->
<div class="about-div">
  <div>
    <p>I AM A DEVELOPER BACKEND !</p>
  </div>
  <div class="skills ">
    <div class="column">
      <div class="header-class">
        <h6>Languages</h6>
      </div>
      <div>
        <ul>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://camo.githubusercontent.com/8938ea244120a752cb5ce1e5991f5591c4d90489312352ba06ec5539a867acd4/68747470733a2f2f69636f6e6170652e636f6d2f77702d636f6e74656e742f706e675f6c6f676f5f766563746f722f632d73686172702d632d6c6f676f2e706e67"
                  alt="C#">
              </div>
              <div class="info">
                <span>C#</span>
              </div>
            </div>
            <div class="gradiente-line-gray-li-border">
              <hr />
            </div>
          </li>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://i.postimg.cc/pTvL2nff/sql-logo.png"
                  alt="SQL">
              </div>
              <div class="info">
                <span>SQL</span>
              </div>
            </div>
            <div class="gradiente-line-gray-li-border">
              <hr />
            </div>
          </li>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/javascript/javascript.png"
                  alt="JavaScript">
              </div>
              <div class="info">
                <span>JavaScript</span>
              </div>
            </div>
            <div class="gradiente-line-gray-li-border">
              <hr />
            </div>
          </li>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/html/html.png"
                  alt="HTML5">
              </div>
              <div class="info">
                <span>HTML 5</span>
              </div>
            </div>
            <div class="gradiente-line-gray-li-border">
              <hr />
            </div>
          </li>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/css/css.png"
                  alt="CSS3">
              </div>
              <div class="info">
                <span>CSS3</span>
              </div>
            </div>
            <div class="gradiente-line-gray-li-border">
              <hr />
            </div>
          </li>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://i.postimg.cc/W3VrkC7k/angular-logo.png"
                  alt="Angular">
              </div>
              <div class="info">
                <span>Angular</span>
              </div>
            </div>
            <div class="gradiente-line-gray-li-border">
              <hr />
            </div>
          </li>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://i.postimg.cc/3wf54QhL/node-js-logo.png"
                  alt="NODE JS">
              </div>
              <div class="info">
                <span>NODE JS</span>
              </div>
            </div>
            <div class="gradiente-line-gray-li-border">
              <hr />
            </div>
          </li>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/react/react.png"
                  alt="React">
              </div>
              <div class="info">
                <span>React</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="column">
      <div class="header-class">
        <h6>Tools</h6>
      </div>
      <div>
        <ul>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://camo.githubusercontent.com/78bd5a496daab46e4c3b777640bfe64f1fa6b5aad126ad6188b5ec553583cc4a/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f352f35392f56697375616c5f53747564696f5f49636f6e5f323031392e737667"
                  alt="Visual Studio">
              </div>
              <div class="info">
                <span>Visual Studio</span>
              </div>
            </div>
            <div class="gradiente-line-gray-li-border">
              <hr />
            </div>
          </li>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/visual-studio-code/visual-studio-code.png"
                  alt="Visual Studio Code">
              </div>
              <div class="info">
                <span>Visual Studio Code</span>
              </div>
            </div>
            <div class="gradiente-line-gray-li-border">
              <hr />
            </div>
          </li>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://i.postimg.cc/rs36wvBB/microsoft-sql-logo.png"
                  alt="Microsoft SQL">
              </div>
              <div class="info">
                <span>Microsoft SQL</span>
              </div>
            </div>
            <div class="gradiente-line-gray-li-border">
              <hr />
            </div>
          </li>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://i.postimg.cc/nrLBTWww/git-logo.png"
                  alt="GIT">
              </div>
              <div class="info">
                <span>GIT</span>
              </div>
            </div>
            <div class="gradiente-line-gray-li-border">
              <hr />
            </div>
          </li>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://i.postimg.cc/QMr6SXg4/docker-logo.png"
                  alt="Docker">
              </div>
              <div class="info">
                <span>Docker</span>
              </div>
            </div>
            <div class="gradiente-line-gray-li-border">
              <hr />
            </div>
          </li>
          <li>
            <div class="data">
              <div class="icon">
                <img
                  src="https://i.postimg.cc/X7PFnQp9/rabbitmq-logo.png"
                  alt="RabbitMQ">
              </div>
              <div class="info">
                <span>RabbitMQ</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <img src="../../../assets/computer-desktop.png" alt="">
  </div>
</div>

<div class="gradiente-line-gray">
  <hr />
</div>
