@import '../css/myvariables';

nav {
  background-color: $navBackgroundColor;
  box-shadow: 0 2px 10 px rgba(218, 218, 218, 0.12);
  position: fixed;
  width: 100%;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .homeLi {
      display: flex;
      align-items: center;

      .home {
        padding: 0 20px;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $textColor;
        height: $menuHeight;
        line-height: $menuHeight;
        transition: background-color 0.4s, color 0.4s;
        cursor: pointer;
        @media (max-width: $menuBreakPoint) {
          font-size: 1rem;
          font-weight: 400;
        }
      }
      :hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.burguer {
  padding: 0 20px;
  border-left: 1px solid $textColor;
  display: none;
  cursor: pointer;

  i {
    color: $textColor;
    line-height: $menuHeight;
  }
  @media (max-width: $menuBreakPoint) {
    display: block;
  }
}

.menu {
  display: flex;
  align-items: center;
  @media (max-width: $menuBreakPoint) {
    display: none;

    &.is-open {
      display: block;
      position: absolute;
      top: #{$menuHeight + 1};
      background: $navBackgroundColor;
      width: 100%;
      .menu-item {
        border-bottom: 1px solid $textColor;
      }
    }
  }
  .menu-item {
    padding: 0 20px;
    height: $menuHeight;
    line-height: $menuHeight;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: $textColor;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
    @media (max-width: $menuBreakPoint) {
      height: 40px;
      line-height: 40px;
      font-size: 0.9rem;
      font-weight: 400;
    }
  }

  :hover {
    background-color: white;
    color: black;
  }
}

.gamb {
  height: $menuHeight;
}

.active {
  background-color: rgb(80, 80, 79);
}

#home,
#aboutme,
#contact {
  word-wrap: break-word;
  padding: 0 15%;
  justify-content: center;
  align-content: center;
  text-align: center;



  @media (max-width: $menuBreakPoint) {
    padding: 0 5%;
  }
}

#aboutme {
  background-color: rgb(60, 60, 60);
}

#contact {
  background-color: rgb(40, 40, 40);
}
