<nav>
  <ul>
    <li>
      <a class="home" (click)="scrollTo('home')">Thiago Rodrigues</a>
    </li>

    <li class="burguer" (click)="toogleMenu()">
      <i class="material-icons">{{isMenuOpen ? "close" : "menu"}}</i>
    </li>
    <li class="menu" [class.is-open]="isMenuOpen">
      <a class="menu-item" (click)="scrollTo('aboutme')">About me</a>
      <a class="menu-item" (click)="scrollTo('experience')">Experience</a>
      <a class="menu-item" (click)="scrollTo('contact')">Contact</a>
    </li>
  </ul>
</nav>

<div class="content" role="main">
<div class="gamb"></div>
  <div id="home">
    <app-home></app-home>
  </div>

  <div id="aboutme">
    <app-about></app-about>
  </div>

  <div id="experience">
    <app-experience></app-experience>
  </div>

  <div id="contact">
    <app-contact></app-contact>
  </div>
</div>
