<div class="main-gallery">
  <h2>Projects</h2>
  <div class="gallery">
    <h4 id="gallery-aux"></h4>
    <div class="gallery-container">
      <img *ngFor="let image of Imagens; let i = index" class="gallery-item"  src={{image.path}} alt={{image.alt}} [attr.data-index]="i" >

      <!-- class={{image.getClass(i)}} -->
    </div>
    <div class="gallery-controls">
      <button class="gallery-controls-previous">previous</button>
      <button class="gallery-controls-next">next</button>
    </div>
  </div>
</div>
<div class="gradiente-line-gray">
  <hr />
</div>
