<div class="main-gallery">
  <div class="gallery">
    <div class="gallery-container">
      <img src="assets/images/imagem-1.jpg" alt="" class="gallery-item gallery-item-1" data-index="1">
      <img src="assets/images/imagem-2.jpg" alt="" class="gallery-item gallery-item-2" data-index="2">
      <img src="assets/images/imagem-3.jpg" alt="" class="gallery-item gallery-item-3" data-index="3">
      <img src="assets/images/imagem-4.jpg" alt="" class="gallery-item gallery-item-4" data-index="4">
      <img src="assets/images/imagem-5.jpg" alt="" class="gallery-item gallery-item-5" data-index="5">
    </div>
    <div class="gallery-controls"></div>
  </div>
</div>
<div class="gradiente-line-gray">
  <hr />
</div>
